*{

    box-sizing: border-box;
}

body{

    padding:0;
    margin:0;
}

.toolbox-cont{

    width: 100%;
    height: 5rem;
    background-color: #333;
    display: flex;
    align-items: center;
}

.toolbox-cont>*{

    margin-left: 5rem;
    border-radius: 3px;
}

.toolbox-priority-cont{

    background-color: coral;
    height: 3.5rem;
    width: 36rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toolbox-priority-cont .color{

    height: 2rem;
    width: 4.5rem;
}

.toolbox-priority-cont .lightpink{

    background-color: lightpink;
}

.toolbox-priority-cont .lightgreen{

    background-color: lightgreen;
}

.toolbox-priority-cont .lightblue{

    background-color: lightblue;
}

.toolbox-priority-cont .black{

    background-color: black;
}

.action-btn-cont{

    background-color: crimson;
    height: 3.5rem;
    width: 7rem;
    margin-left: 8rem;
}